.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-container h1{
    width: 80%;
    text-align: start;
    font-size: 40px;
    color: white;
}

.form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

h1 {
    width: 80%;
    text-align: start;
    color: white;
    font-size: 100px;
}

.form-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
    font-size: 20px;
    color: white;
}

input {
    width: 100%;
    outline: none;
    background-color: inherit;
    border: white solid 2px;
    border-radius: 10px; 
    height: 60px;
    padding: 10px;
    color: white;
}

.banco {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banco-input {
    width: 100%;
}

.agencia, .conta {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.avancar {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px
}

button {
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}