{% extends 'base.html' %}

{% block title %}
    Confirmar Remoção de Conta
{% endblock %}

{% block content %}
    <div class="confirmacao-exclusao">
        <h1>Confirmar Exclusão</h1>
        <p>Tem certeza de que deseja excluir a conta bancária?</p>
        
        <form action="{% url 'url_confirmar_remocao_conta' dados.proprietario %}" method="POST">
            {% csrf_token %}
            <button type="submit">Confirmar Exclusão</button>
        </form>
    </div>
{% endblock %}

