{% extends 'base.html' %}
{% load static %}

{% block title %}
    Conta Bancárias
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/conta_bancaria.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <h1>Conta Bancária Cadastrada</h1>
       
        <div class="container">
            <div class="perfil">
                <p>Proprietário: {{ dados.proprietario }}</p>
                <p>Agência: {{ dados.agencia }}</p>
                <p>Conta: {{ dados.conta }}</p>
                <form action="{% url 'url_remover_conta' dados.proprietario %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Remover Conta</button>
                </form>
                <form action="{% url 'url_cadastro' %}" method="POST" class="adicionar-form">
                    {% csrf_token %}
                    <button type="submit">Adicionar Conta</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


