{% extends 'base.html' %}
{% load static %}

{% block title %}
    Editar Perfil
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/editarPerfil.css' %}">
{% endblock %}

{%block main %}
    <div class="main-container">
        <h1>Editar perfil</h1>
        <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <div class="form-content">
                    {{ form.as_p }}
                </div>
  
                <div class="avancar">
                    <button type="submit">Concluído</button>
                </div>
        </form>
    </div>
{% endblock %}