{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block main %}

            <div class="header">
                <h3>Olá, {{ pessoa.nome }}</h3>
                <a href="{% url 'url_cadastro_despesa' request.session.usuario_id %}">
                    <button type="button" class="btn btn-light d-flex flex-row justify-content-end">Cadastrar Despesa</button>
                </a>
            </div>
            <div class="vencendo-hoje">
                <h1>Vencendo hoje</h1>
                {% for p in pagamentos %}
                    {% now "Y-m-d" as data_atual %}
                    {% if p.dataVencimento|date:"Y-m-d" == data_atual and p.status == False %}
                        <a href="{% url 'url_realizando_pagamento' p.id %}">
                            <div class="despesas">
                                <span>{{ p.nome }}</span>
                                <span>R$ {{ p.valor }}</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <img src="{% static 'Calendar.png' %}" alt="">

{% endblock %}