{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{%block main %}
    <div class="main-container">
        <form class="content-container" action="{% url 'url_login' %}" method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="form">
                <span>
                    <label for="">Conta bancária</label>
                    <input name="conta" type="text" placeholder="">
                </span>
                <span>
                    <label for="">Senha</label>
                    <input name="senha" type="password">
                </span>
            </div>
            <div class="entrar">
                <button>Entrar</button>
                <p>Não possui uma conta ainda? <a href="/cadastro/">Cadastre-se</a></p>
            </div>
        </form>
    </div>
{% endblock %}

