{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/pagamentos.css' %}">
{% endblock %}

{%block main %}

<div class="main-container">
    <h1 class="text-white">Pagamentos Pendentes</h1>

<div class="pagamentos">
    {% for pagamento in pagamentos %}
        {% if pagamento.status == False and pagamento.nome %}
         
                <a href="{% url 'url_realizando_pagamento' pagamento.id %}" class="pagamento">
                    <div class="pagamentos-content">
                        <span>{{ pagamento.nome }}</span>
                        <span>R$ {{ pagamento.valor }}</span>
                    </div>
                </a>
      
        {% endif %}   
    {% endfor %}
</div>
</div>

{% endblock %}
