{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/pagamentos.css' %}">
{% endblock %}

{%block main %}

<h1 class="text-white">Pagamentos Pendentes</h1>

<div class="row pl-3">
    <ul>
    {% for pagamento in pagamentos %}
        <li class="pagamentos">
            <a href="{% url 'url_realizando_pagamento' pagamento.id %}" class="pagamento">
                {{ pagamento.nome }}
                {{ pagamento.valor }}
                {{ pagamento.status }}
            </a>
        </li>
    </ul>   
    {% endfor %}
</div>

{% endblock %}
