{% extends 'base.html' %}
{% load static %}

{% block title %}
    Relatório
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/relatorios.css' %}">
{% endblock %}

{%block main %}
<div class="d-flex justify-content-around">
    <ul class="cabecalho d-flex flex-direction-column">
        <li class="opcao1 col-4">
            Pagas
        </li>
        <li class="opcao2 col-4">
            Pendentes
        </li>
        <li class="opcao3 col-4">
            Vencidas
        </li>
    </ul>
</div>
{% endblock %}
